{% extends 'base.html' %}
{% block content %}
<form>
    <label for="search">Поиск образцов</label>
    <input id="search" name="search" type="text" placeholder="№">
    <input type="submit" class="submit" value="Найти">
</form>
<div class="list">
    <a href="/object/1" class="sample-item">
        <h3><span style="font-size: 16px;">№</span>1234567</h3>
        <h4>01-01-2021</h4>
    </a>
    <a href="/" class="sample-item">
        <h3><span style="font-size: 16px;">№</span>1234567</h3>
        <h4>01-01-2021</h4>
    </a>
    <a href="/" class="sample-item">
        <h3><span style="font-size: 16px;">№</span>1234567</h3>
        <h4>01-01-2021</h4>
    </a>
    <a href="/" class="sample-item">
        <h3><span style="font-size: 16px;">№</span>1234567</h3>
        <h4>01-01-2021</h4>
    </a>
    <a href="/" class="sample-item">
        <h3><span style="font-size: 16px;">№</span>1234567</h3>
        <h4>01-01-2021</h4>
    </a>
    <a href="/" class="sample-item">
        <h3><span style="font-size: 16px;">№</span>1234567</h3>
        <h4>01-01-2021</h4>
    </a>
    <a href="/" class="sample-item">
        <h3><span style="font-size: 16px;">№</span>1234567</h3>
        <h4>01-01-2021</h4>
    </a>
    <a href="/" class="sample-item">
        <h3><span style="font-size: 16px;">№</span>1234567</h3>
        <h4>01-01-2021</h4>
    </a>
    <a href="/" class="sample-item">
        <h3><span style="font-size: 16px;">№</span>1234567</h3>
        <h4>01-01-2021</h4>
    </a>
    <a href="/" class="sample-item">
        <h3><span style="font-size: 16px;">№</span>1234567</h3>
        <h4>01-01-2021</h4>
    </a>
    
</div>

{% endblock %}