{% extends 'base.html' %}
{% block content %}
<form>
    <label for="search">Поиск лабораторий</label>
    <input id="search" name="search" type="text" placeholder="Название">
    <input type="submit" class="submit" value="Найти">
</form>
<div class="list">
    <div class="lab-item">
        <h3>Лаборатория щвызщацу шоцузацзуао цозцша</h3>
    </div>
    <div class="lab-item">
        <h3>Лаборатория щвызщацу шоцузацзуао цозцша</h3>
    </div>
    <div class="lab-item">
        <h3>Лаборатория щвызщацу шоцузацзуао цозцша</h3>
    </div>
    <div class="lab-item">
        <h3>Лаборатория щвызщацу шоцузацзуао цозцша</h3>
    </div>
    <div class="lab-item">
        <h3>Лаборатория щвызщацу шоцузацзуао цозцша</h3>
    </div>
    <div class="lab-item">
        <h3>Лаборатория щвызщацу шоцузацзуао цозцша</h3>
    </div>
    <div class="lab-item">
        <h3>Лаборатория щвызщацу шоцузацзуао цозцша</h3>
    </div>
    <div class="lab-item">
        <h3>Лаборатория щвызщацу шоцузацзуао цозцша</h3>
    </div>
    
</div>

{% endblock %}