{% extends 'base.html' %}
{% block title %}
Лаборатории
{% endblock %}
{% block content %}
<form action="search_lab" method="post">
    <label for="search">Поиск лабораторий</label>
    <input id="search" name="search" type="text" placeholder="Введите №">
    <input type="submit" class="submit" value="Найти">
</form>
<div class="list">
    <a href="/create-lab" class="sample-item">
        <h3>Создать лабораторию</h3>
    </a>
    {% for lab in labs %}
    <a href="{{ lab.name }}" class="sample-item">
        <h3><span style="font-size: 16px;">№</span>{{ lab.name }}</h3>
    </a>
    {% endfor %}
</div>


{% endblock %}