{% extends 'base.html' %}
{% block title %}
Образец
{% endblock %}
{% block content %}

<div class="list">
    <h2 style="color: #FFFFFF; font-size:24px">Проба №{{ tasks.0.object.name}}</h2>
    <iframe src="{{ tasks.0.object.link_verge3d }}"></iframe>
    <ul class="accordeon">
        <li>
            <input type="checkbox" checked>
            <i class="arrow"></i>
            <h2><i class="fas fa-code"></i>Дата поступления</h2>
            <p>{{ tasks.0.object.income_date|date:'d.m.Y' }}</p>
        </li>

        <li>
            <input type="checkbox" checked>
            <i class="arrow"></i>
            <h2><i class="fas fa-code"></i>Дата отбора</h2>
            <p>{{ tasks.0.object.date_selection|date:'d.m.Y' }}</p>
        </li>

        <li>
            <input type="checkbox" checked>
            <i class="arrow"></i>
            <h2><i class="fas fa-code"></i>Месторождение</h2>
            <p>{{ tasks.0.object.oilfield.name }}</p>
        </li>

        <li>
            <input type="checkbox" checked>
            <i class="arrow"></i>
            <h2><i class="fas fa-code"></i>Название породы</h2>
            <p>{{ tasks.0.object.rock_name }}</p>
        </li>

        <li>
            <input type="checkbox" checked>
            <i class="arrow"></i>
            <h2><i class="fas fa-code"></i>Дата начала анализа</h2>
            <p>{{ tasks.0.start_date|date:'d.m.Y H:i' }}</p>
        </li>

        <li>
            <input type="checkbox" checked>
            <i class="arrow"></i>
            <h2><i class="fas fa-code"></i>Место хранения</h2>
            <p>{{ tasks.0.laboratory.name }}</p>
        </li>

        <li>
            <input type="checkbox" checked>
            <i class="arrow"></i>
            <h2><i class="fas fa-code"></i>Коэффициент водонасыщенности</h2>
            <p>{{ tasks.0.object.water_value }}</p>
        </li>
        <li>
            <input type="checkbox" checked>
            <i class="arrow"></i>
            <h2><i class="fas fa-code"></i>Коэффициент нефтенасыщенности</h2>
            <p>{{ tasks.0.object.oil_value }}</p>
        </li>
        <li>
            <input type="checkbox" checked>
            <i class="arrow"></i>
            <h2><i class="fas fa-code"></i>Коэффициент газонасыщенности</h2>
            <p>{{ tasks.0.object.gas_value }}</p>
        </li>
        <li>
            <input type="checkbox" checked>
            <i class="arrow"></i>
            <h2><i class="fas fa-code"></i>Диаметр</h2>
            <p>{{ tasks.0.object.diameter }}</p>
        </li>
        <li>
            <input type="checkbox" checked>
            <i class="arrow"></i>
            <h2><i class="fas fa-code"></i>Минеральная плотность</h2>
            <p>{{ tasks.0.object.mineral_density }}</p>
        </li>
        <li>
            <input type="checkbox" checked>
            <i class="arrow"></i>
            <h2><i class="fas fa-code"></i>Коэффициент карбонатности</h2>
            <p>{{ tasks.0.object.carbon_coeff }}</p>
        </li>


    </ul>
</div>

{% endblock %}

