{% extends 'base.html' %}
{% block content %}

<div class="list">
    <h2 style="color: #FFFFFF; font-size:24px">Проба №{{ tasks.0.object.name}}</h2>
    <iframe src="https://v3d.net/cs8"></iframe>
    <ul class="accordeon">
        <li>
            <input type="checkbox" checked>
            <i class="arrow"></i>
            <h2><i class="fas fa-code"></i>Дата поступления</h2>
            <p>{{ tasks.0.object.income_date}}</p>
        </li>
        <li>
            <input type="checkbox" checked>
            <i class="arrow"></i>
            <h2><i class="fas fa-question"></i>Дата отбора</h2>
            <p>{{ tasks.0.object.date_selection }}</p>
        </li>
        <li>
            <input type="checkbox" checked>
            <i class="arrow"></i>
            <h2><i class="fas fa-laugh"></i>Месторождение</h2>
            <p>{{ tasks.0.object.oilfield.name }}</p>
        </li>
        <li>
            <input type="checkbox" checked>
            <i class="arrow"></i>
            <h2><i class="fas fa-laugh"></i>Название породы</h2>
            <p>{{ tasks.0.object.rock_name }}</p>
        </li>
        <li>
            <input type="checkbox" checked>
            <i class="arrow"></i>
            <h2><i class="fas fa-laugh"></i>Дата начала анализа</h2>
            <p>{{ tasks.0.start_date }}</p>
        </li>
        <li>
            <input type="checkbox" checked>
            <i class="arrow"></i>
            <h2><i class="fas fa-laugh"></i>Место хранения</h2>
            <p>Лаборатория №{{ tasks.0.laboratory.name }}</p>
        </li>
    </ul>





    {% comment %} <h2 style="color: #FFFFFF; font-size:24px">Проба №{{ tasks.0.object.name}}</h2>
    <iframe src="https://v3d.net/cs8"></iframe>
    <h3>Дата поступления в лабораторию</h3>
    <h3>Дата отбора</h3>
    <h3>Месторождение</h3>
    <h3>Название породы</h3>
    <h3>Дата начала анализа</h3>
    <h3>Место хранения</h3>
    <h3>Результаты  
        {% for task in tasks %}
        <br>
        {{ task.task.result }}
        {% endfor %}
    </h3> {% endcomment %} 
</div>



{% endblock %}



{% comment %} <div>
    <p>Проба №{{ tasks.0.object.name}}</p>
    <iframe src="https //giphy.com/embed/VbnUQpnihPSIgIXuZv" width="30%" height="40%" frameBorder="2" class="giphy-embed" allowFullScreen></iframe>
    <p>Дата поступления в лабораторию  {{ tasks.0.object.income_date|date 'd.m.Y' }}</p>
    <p>Дата отбора  {{ tasks.0.object.date_selection|date 'd.m.Y' }}</p>
    <p>Месторождение  {{ tasks.0.object.oilfield.name }}</p>
    <p>Название породы  {{ tasks.0.object.rock_name }}</p>
    <p>Дата начала анализа  {{ tasks.0.start_date|date 'd.m.Y H i' }}</p>
    <p>Место хранения  Лаборатория №{{ tasks.0.laboratory.name }}</p>
    <p>Результаты  
        {% for task in tasks %}
        <br>
        {{ task.task.result }}
        {% endfor %}
    </p>
</div> {% endcomment %}