{% extends 'base.html' %}
{% block title %}
Регистрация
{% endblock %}
{% block content %}
<h1 class="title">Регистрация</h1>
      <form action="try-sign-up" class="auth" method="post">
        <input type="text" placeholder="ФИО" required/>
        <input id="email" type="email" placeholder="Почта" required/>
        <input id="password" type="password" placeholder="Пароль" required/>
        <input class="submit" type="submit" value="Зарегистрироваться" />
      </form>
      <p class="or">или</p>
      <a class="go-auth" href="/sign-in">Войти</a>
{% endblock content %}